<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Karl - Fashion Ecommerce Template | Cart</title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css">


    <!-- Responsive CSS -->
    <link href="/css/responsive.css" rel="stylesheet">

</head>

<body>


    <div id="wrapper">

        <!-- ****** Header Area Start ****** -->
        <header class="header_area bg-img background-overlay-white" style="background-image: url(img/bg-img/bg-1.jpg);">
            <!-- Top Header Area Start -->
            <div class="top_header_area">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-end">

                        <div class="col-12 col-lg-7">
                            <div class="top_single_area d-flex align-items-center">
                                <!-- Logo Area -->
                                <div class="top_logo">
                                    <a href="#"><img src="/img/core-img/logo.png" alt=""></a>
                                </div>
                                <!-- Cart & Menu Area -->
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Top Header Area End -->
            <div class="main_header_area">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 d-md-flex justify-content-between">
                            <!-- Header Social Area -->
                            <div class="header-social-area">
                                <a href="#"><span class="karl-level">Share</span> <i class="fa fa-pinterest"
                                        aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                            <!-- Menu Area -->
                            <div class="main-menu-area">
                                <nav class="navbar navbar-expand-lg align-items-start">

                                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                                        data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false"
                                        aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i
                                                class="ti-menu"></i></span></button>

                                    <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                        <ul class="navbar-nav animated" id="nav">
                                            <li class="nav-item active"><a class="nav-link" th:href="@{/}">Home</a></li>
                                            <li class="nav-item"><a class="nav-link" th:href="@{/client/shop}">Shop</a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link" th:href="@{/client/cart}">Cart</a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link"
                                                    th:href="@{/client/checkout}">Checkout</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- Login - Register-->
                            <div class="login-regis d-flex">
                                <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/dashboard}">Admin</a>
                                <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
                                <a sec:authorize="!isAuthenticated()" th:href="@{/registration}">Register</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ****** Header Area End ****** -->



        <!-- ****** Cart Area Start ****** -->
        <div class="cart_area section_padding_100 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th class="text-center">Update</th>
                                        <th class="text-center">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="cart : ${listCarts}">
                                        <th:block th:each="item : ${cart.getItemCart()}">
                                            <td class="cart_product_img d-flex align-items-center">
                                                <a href="#"><img th:src="'/img/product-img/' + *{item.picture}"
                                                        alt="Product"></a>
                                                <h6 th:text="*{item.name}"></h6>
                                            </td>
                                            <td class="price">$<span th:id="'price'+${item.id}" th:text="*{item.price}"
                                                    th:value="*{item.price}"></span></td>
                                            <td class="qty">
                                                <div class="quantity">
                                                    <span class="qty-minus" th:onclick="'
                                                            var update = document.getElementById(&quot;updateCart'+${item.id}+'&quot;);
                                                            var val = document.getElementsByClassName(&quot;quantity'+ ${item.id} +'&quot;)[0].value;
                                                            val-=1
                                                            if(val==0) val=1
                                                            console.log(val);
                                                            update.setAttribute(&quot;href&quot; , &quot;/client/cart/updateCart/' + ${cart.id} + '/item/' + ${item.id} + '/number/&quot;+val);

                                                            var effect = document.getElementById(&quot;qty' + ${item.id} + '&quot;); 
                                                            var qty = effect.value;
                                                            if( !isNaN( qty ) && qty > 1 ) 
                                                            effect.value--;return false;'
                                                            "><i class="fa fa-minus"></i></span>

                                                    <input type="number" class="qty-text" th:id="'qty'+${item.id}"
                                                        step="1" min="1" max="12" th:classappend="'quantity'+${item.id}"
                                                        value="1" th:value="${cart.number}">

                                                    <span class="qty-plus" th:onclick="'
                                                            var update = document.getElementById(&quot;updateCart'+${item.id}+'&quot;);
                                                            var val = document.getElementsByClassName(&quot;quantity'+ ${item.id} +'&quot;)[0].value;
                                                            val-=0
                                                            val+=1
                                                            console.log(val);
                                                            update.setAttribute(&quot;href&quot; , &quot;/client/cart/updateCart/' + ${cart.id} + '/item/' + ${item.id} + '/number/&quot;+val);
                                                        
                                                            var effect = document.getElementById(&quot;qty'+ ${item.id} + '&quot;); 
                                                            var qty = effect.value; 
                                                            if( !isNaN( qty )) effect.value++;return false;
                                                            '"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                </div>
                                            </td>
                                            <td class="total_price" th:classappend="'total_price'+${item.id}">
                                                $<span></span></td>
                                            <td class="text-center">
                                                <a class="cen" th:classappend="updateBtn"
                                                    th:id="'updateCart'+${item.id}"><i
                                                        class="fa fa-pencil-square-o "></i></a>
                                                <script>
                                                    var id = "[[${item.id}]]"
                                                    var qty = "qty" + id;
                                                    var price = "price" + id;
                                                    var total_price = "total_price" + id;

                                                    var number = document.getElementById(qty);
                                                    var price = document.getElementById(price);
                                                    var total_price = document.getElementsByClassName(total_price);

                                                    var span = total_price[0].getElementsByTagName("span");
                                                    var sum = number.value * price.textContent;
                                                    span[0].textContent = sum.toFixed(2);
                                                </script>
                                            </td>
                                            <td class="text-center">
                                                <a th:href="@{/client/cart/deleteCart/{id}(id = ${cart.id})}"
                                                    class="cen"><i class="fa fa-trash"></i></a>
                                            </td>
                                            <script>
                                                var itemId = "[[${item.id}]]"
                                                var cartId = "[[${cart.id}]]";
                                                var quantity = 'quantity' + itemId;
                                                var updateCart = 'updateCart' + itemId;
                                                var val = document.getElementsByClassName(quantity)[0].value;
                                                var update = document.getElementById(updateCart);
                                                update.setAttribute('href', '/client/cart/updateCart/' + cartId + '/item/' + itemId + '/number/' + val);
                                            </script>
                                        </th:block>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="cart-footer d-flex mt-30">
                            <div class="back-to-shop w-50">
                                <a th:href="@{/client/shop}">Continue shooping</a>
                            </div>
                            <div class="update-checkout w-50 text-right">
                                <a th:href="@{/client/cart/deleteAllUserCart}">clear cart</a>
                                <a href="#" onclick="
                                        var updateBtn = document.getElementsByClassName('updateBtn');
                                        for(var i=0;i<updateBtn.length;i++)
                                            updateBtn[i].click()">Update cart</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="coupon-code-area mt-70">
                            <div class="cart-page-heading">
                                <h5>Cupon code</h5>
                                <p>Enter your cupone code</p>
                            </div>
                            <form action="#">
                                <input type="search" name="search" placeholder="#569ab15">
                                <button type="submit">Apply</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="shipping-method-area mt-70">
                            <div class="cart-page-heading">
                                <h5>Shipping method</h5>
                                <p>Select the one you want</p>
                            </div>

                            <div class="custom-control custom-radio mb-30" onchange="checkShipping()">
                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"
                                    checked>
                                <label class="custom-control-label d-flex align-items-center justify-content-between"
                                    for="customRadio1"><span>Next day delivery</span><span>$4.99</span></label>
                            </div>

                            <div class="custom-control custom-radio mb-30" onchange="checkShipping()">
                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label d-flex align-items-center justify-content-between"
                                    for="customRadio2"><span>Standard delivery</span><span>$1.99</span></label>
                            </div>

                            <div class="custom-control custom-radio" onchange="checkShipping()">
                                <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label d-flex align-items-center justify-content-between"
                                    for="customRadio3"><span>Personal Pickup</span><span>Free</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cart-total-area mt-70">
                            <div class="cart-page-heading">
                                <h5>Cart total</h5>
                                <p>Final info</p>
                            </div>

                            <ul class="cart-total-chart">
                                <li><span>Subtotal</span> <span><span id="subtotal"></span></span></li>
                                <li><span>Shipping</span> <span id="shipping"></span></li>
                                <li><span><strong>Total</strong></span> <strong id="total"></strong></li>
                            </ul>
                            <a th:href="@{/client/checkout}" class="btn karl-checkout-btn">Proceed to checkout</a>
                            <script>
                                var total_price = document.getElementsByClassName("total_price");
                                var sum = 0;
                                for (var i = 0; i < total_price.length; i++) {
                                    var temp = total_price[i].getElementsByTagName('span')[0].textContent;
                                    temp -= 0;
                                    sum += temp;
                                }

                                var subtotal = document.getElementById('subtotal');
                                subtotal.textContent = '$' + sum.toFixed(2);

                                function checkShipping() {
                                    var customRadio = document.getElementsByName('customRadio');
                                    var shipping = document.getElementById('shipping');
                                    var shippingFee = 0;
                                    if (sum > 0) {
                                        if (customRadio[0].checked) {
                                            shippingFee = 4.99;
                                            shipping.textContent = '$4.99';
                                        }
                                        else if (customRadio[1].checked) {
                                            shippingFee = 1.99;
                                            shipping.textContent = '$1.99';
                                        }
                                        else shipping.textContent = 'Free';

                                        var total = document.getElementById('total');
                                        total.textContent = '$' + (shippingFee + sum).toFixed(2);
                                    }
                                    else {
                                        subtotal.textContent = "";
                                        shipping = "";
                                        total.textContent = "";
                                    }
                                }
                                checkShipping();
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ****** Cart Area End ****** -->

        <!-- ****** Footer Area Start ****** -->
        <footer class="footer_area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single_footer_area">
                            <div class="footer-logo">
                                <img src="/img/core-img/logo.png" alt="">
                            </div>
                            <div class="copywrite_text d-flex align-items-center">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved |
                                    Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                        href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a
                                        href="https://themewagon.com" target="_blank">ThemeWagon</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area">
                            <ul class="footer_widget_menu">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Faq</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area">
                            <ul class="footer_widget_menu">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Our Policies</a></li>
                                <li><a href="#">Afiliates</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-lg-5">
                        <div class="single_footer_area">
                            <div class="footer_heading mb-30">
                                <h6>Subscribe to our newsletter</h6>
                            </div>
                            <div class="subscribtion_form">
                                <form action="#" method="post">
                                    <input type="email" name="mail" class="mail" placeholder="Your email here">
                                    <button type="submit" class="submit">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>

                <!-- Footer Bottom Area Start -->
                <div class="footer_bottom_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="footer_social_area text-center">
                                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ****** Footer Area End ****** -->
    </div>
    <!-- /.wrapper end -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>

</body>

</html>