<!doctype html>
<html lang="en">

<head>
    <title>Karl-Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/login/css/style.css">

</head>

<body class="img js-fullheight" style="background-image: url(/login/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Create an account!</h3>
                        <!-- login form begin -->
                        <form th:action="@{/registration}" method="post" th:object="${user}" class="signin-form">
                            <!-- logout message -->
                            <div th:if="${param.success}" class="text-center">
                                <P>You have successfully create an account! Login now :)</P>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First name" id="firstName"
                                    name="firstName" required th:field="*{firstName}">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last name" id="lastName"
                                    name="lastName" required th:field="*{lastName}">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email" id="email"
                                    name="email" required th:field="*{email}">
                            </div>
                            <div class="form-group">
                                <input id="password" type="password" class="form-control" placeholder="Password"
                                    required name="password" th:field="*{password}">
                                <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Register</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50">
                                    <label class="checkbox-wrap checkbox-primary">Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#" style="color: #fff">Forgot Password</a>
                                </div>
                            </div>
                        </form>
                        <!-- login form end -->
                        <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
                        <div class="social d-flex text-center">
                            <a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="iconify"
                                    data-icon="ion:logo-google"></span>
                                Google</a>
                            <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
                            <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="iconify"
                                    data-icon="ion:logo-facebook"></span></span>
                                Facebook</a>
                            <a th:href="@{login}" class="px-2 py-2 ml-md-1 rounded">
                                Login here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/login/js/jquery.min.js"></script>
    <script src="/login/js/popper.js"></script>
    <script src="/login/js/bootstrap.min.js"></script>
    <script src="/login/js/main.js"></script>

</body>

</html>